



.kwadrat1 {
    background: red;  
}

div#kolo1 {
    position: absolute;
    bottom: 100px;

}


.kwadrat2 {
    background:blue;
    top: -200px;
    left: 200px;
    margin-left: 3px;   
}


.kwadrat3 {
    background:green;
    top: -400px;
    left: 400px;
    margin-left: 6px;
}

.kwadrat4 {
    background:yellow;
    top: -400px;
    left: 0px;
    margin-top: 3px;  
}

.kwadrat5 {
    background:black;
    top: -600px;
    left: 200px;
    margin-left: 3px;
}

.kwadrat6 {
    background:#ffc400d3;
    top: -800px;
    left: 400px;
    margin-left: 6px;
    
}

.kwadrat7 {
    background:purple;
    top: -800px;
    left: 0px;
    margin-top:3px;
}

.kwadrat8 {
    background:gray;
    top: -1000px;
    left: 200px;
    margin-left:3px;
}

.kwadrat9 {
    background:pink;
    top: -1200px;
    left: 400px;
    margin-left:6px;
}

   .kwadrat {
    width: 200px;
    height: 200px;
    position: relative;
   } 

.kolo1 {
    background-color:pink;
}


.kolo2 {
    background-color: gray;
}

.kolo3 {
    background-color: purple;
    
}

.kolo4 {
    background-color: green;
    
}

.kolo5 {
    background-color:red;
    
}

.kolo6 {
    background-color: blue;
}

.kolo7 {
    background-color:#ffc400d3;
    
}

.kolo8 {
    background-color:yellow;
    
}

.kolo9 {
    background-color:black;  
}

.kolo {
    height: 100px;
    width:100px;
    border-radius: 50%;
    border-style: solid black;
    margin-left: 25%;
    transform:translate(6%, 50% );
}


