#strawberry {
    float: left;
    width: 300px;
    height: auto;
}

#strawberry-right {
    float: right;
}
#strowberry {
    float:none;
}

p:last-child {
    background-color: yellow;
    clear:both;
}

